@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";



/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
} */



/*********************************************  CUSTOM CSS FOR NIKE PROJECT  *************************************/


@layer base {
  * {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
  }

  /* container */
  .nike-container {
    @apply w-11/12 m-auto;
  }
  
  /* Scroll */
  .scroll-hidden::-webkit-scrollbar{
    display: none;
  }
  .scroll-style::-webkit-scrollbar{
    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-color: rgb(66, 245, 141) rgb(66, 245, 141); 
  }
  .scroll-style::-webkit-scrollbar{
    @apply w-2;
  }
  .scroll-style::-webkit-scrollbar-track {
    @apply bg-slate-700;
  }
  .scroll-style::-webkit-scrollbar-thumb {
    @apply rounded-full bg-gradient-to-tr from-blue-500 to-green-500 via-teal-500;
  }

  /* Theme-Colors */
  .bg-theme {
    background-image: linear-gradient( 0.2deg, rgb(111, 241, 128) 4.8%, rgb(3, 138, 21) 85.5% );
  }

  .bg-theme-footer {
    background-image: linear-gradient( 0.2deg,  rgb(5, 46, 11) 4.8%, rgb(3, 138, 21) 85.5% );
  }

  .bg-theme-cart {
    @apply bg-gradient-to-b from-slate-900 to-gray-900 shadow-sm shadow-gray-900;
  }

  /* Clip-path */
  .clip-path {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
  }  

  .clip-path1 {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
  }  
  
  .clip-path2 {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);
  }  

  /* Blur-Effect */
  .blur-effect-theme {
    @apply bg-white/50 bg-clip-padding backdrop-filter backdrop-blur bg-opacity-50 opacity-100 z-[100] shadow-sm shadow-slate-100 transition-all duration-500;
  }

  /* Icon Stles */
  .icon-style {
    @apply sm:h-8 sm:w-8 h-5 w-5 text-slate-100 cursor-pointer transition-all duration-500 active:scale-110 leading-tight;
  }

  /* text-gradient */
  .text-gradient {
    @apply text-transparent bg-clip-text bg-gradient-to-tr from-blue-500 to-sky-500;
  }

  /* border */ 
  .rounded-theme {
    border-radius: 5% 100% 10% 5%;
  }

  /* button */
  .button-theme {
    @apply xs:px-7 px-4 py-1 rounded active:scale-90 transition-all duration-500 ease-in-out shadow-md;
  }

  /* tranistions-theme */
  .transitions-theme {
    @apply transition-all duration-700 ease-in-out cursor-pointer;
  }

  .flexCenter {
    @apply flex flex-row justify-center items-center;
  }

  .flexCenterFlat {
    @apply flex flex-row justify-center items-end;
  }

}


.flexCenter { @apply flex flex-row justify-center items-center};
.flexAround { @apply flex flex-row justify-around items-center};
.flexBetween { @apply flex flex-row justify-between items-center};
.flexStart { @apply flex flex-row justify-start items-center};
.flexEnd { @apply flex flex-row justify-end items-center};

.flexColCenter { @apply flex flex-col justify-center items-center};
.flexColAround { @apply flex flex-col justify-around items-center};
.flexColBetween { @apply flex flex-col justify-between items-center};
.flexColStart { @apply flex flex-col justify-start items-center};
.flexColEnd { @apply flex flex-col justify-end items-center};

.flexCenterStart { @apply flex flex-row justify-center items-start }
.flexStartStart { @apply flex flex-row justify-start items-start }
.flexStartCenter { @apply flex flex-row justify-start items-center }
.flexCenterEnd { @apply flex flex-row justify-center items-end }
.flexEndEnd { @apply flex flex-row justify-end items-end }
.flexEndCenter { @apply flex flex-row justify-end items-center }
.flexStartEnd { @apply flex flex-row justify-start items-end }
.flexEndStart { @apply flex flex-row justify-end items-start }

.flexColCenterStart { @apply flex flex-col justify-center items-start }
.flexColStartStart { @apply flex flex-col justify-start items-start }
.flexColStartCenter { @apply flex flex-col justify-start items-center }
.flexColCenterEnd { @apply flex flex-col justify-center items-end }
.flexColEndEnd { @apply flex flex-col justify-end items-end }
.flexColEndCenter { @apply flex flex-col justify-end items-center }
.flexColStartEnd { @apply flex flex-col justify-start items-end }
.flexColEndStart { @apply flex flex-col justify-end items-start }

.flexAroundStart { @apply flex flex-row justify-around items-start};


/********************************************    CUSTOM CSS   *******************************************/



.title-text-shadow1{
  /* color: #270404; */
  /* text-shadow: #270404; */
  text-shadow: 0 0 3px #270404;
}

.title-text-shadow2{
  text-shadow: 0 0 4px #d3e0d3;
}

.title-text-shadow3{
  text-shadow: 0 0 5px #e2eee2;
}

.title-text-shadow4{
  text-shadow: 0 0 1px #0db915;
}

.title-text-shadow5{
  text-shadow: 0 0 10px #270404;
}

.title-text-shadow6{
  text-shadow: 0 0 2px #fff;
}

.title-text-no-shadow{
  text-shadow: 0 0 0 #e2eee2;
}

.color-sampling-css {
  color: #613207;
}

.bg-hero {
  background-image: url("./assets/bg1.jpg");
}

.bg-hero1 {
  background-image: url("./assets/BG-3.jpg");
}

.bg-offers {
  background-image: url("./assets/Offers_BG.jpg");
}

.text-contrast-css {
  color: transparent; /* Make the original text color transparent */
  -webkit-background-clip: text; /* Apply background to text */
  background-clip: text;
  -webkit-text-stroke: 0px white; /* Add a stroke to improve readability */
}

.text-on-background {
  color: #fff;
  filter: drop-shadow(4px 4px 18px rgba(0, 0, 0, 0.9));
}

.button-gradient1 {
  background: linear-gradient(90deg, "#0db915", #064709);
}

/* .text1-gradient1 {
  background: linear-gradient(90deg, "#0db915", #064709);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
} */

.button-shadow1 {
  --tw-shadow: 1px 2px 1px 2px rgb(0 0 0 / 0.5);
  box-shadow: var(--tw-shadow);
}

.color {
  color: #146409;
  color: #0b1f139c;
  color: #d5ebde;
}

.blur-effect1 {
  filter: blur(2px);
}

@keyframes fadeIn {
  from { opacity: 0; transform: scale(0.9); }
  to { opacity: 1; transform: scale(1); }
}

.fadeInAnimate {
  animation: fadeIn 0.5s ease;
}

.fadeInAnimate1 {
  animation: fadeIn 1s ease;
}

.fadeOut {
  opacity: 0;
}

.fadeIn {
  opacity: 1;
}

/* #FF0000 */
/* #0db915 */




